<h1>Blog Ruby on Rails</h1>
<h2>Essai par Gilles Godiveau</h2>
<p>Exercice en ligne : <a href="http://edgeguides.rubyonrails.org/getting_started.html" target="_blank">Getting Started with Rails</a></p> 
<%= link_to '-> Le blog est ici <-', controller: 'articles' %>